button.answers{
    background-color: transparent;
    font-size: 15px;
    border-radius: 15px;
    border: solid 2px rgb(174, 122, 223);
    color: black;
    padding: 10px 15px;
    margin-right: 10px;
    margin-top: 16px;
}
button:hover{
    background-color: rgb(174, 122, 223);
}
button.choice{
    background-color: rgb(174, 122, 223);
}
button.wrong{
    background-color: red;
}
button.right{
    background-color: rgb(29, 216, 29);
}