a{
    background-color: rgb(250, 250, 183);
    font-size: 25px;
    border-radius: 15px;
    text-decoration: none;
    color: black;
    font-family: 'Tilt Neon', cursive;
    padding: 10px 15px;
}
a:hover{
    background-color: rgb(252, 252, 129);
}