.question{
    margin-bottom: 20px;
}
.question__text{
    font-weight: bold;
    color: #626262;
    margin-bottom: 0;
}
.quiz__button{
display: flex;
justify-content: center;
}
.quiz__button button{
    margin-top: 25px;
}